{
    "env": {
        "browser": true
    },

    "rules": {
        "no-comma-dangle": 2,
        "no-debugger": 2,
        "no-empty": 2,
        "no-obj-calls": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "no-dupe-keys": 2,
        "no-empty-class": 2,
        "no-func-assign": 2,
        "no-catch-shadow": 2,
        "no-eval": 2,
        "no-with": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-new-func": 2,
        "no-native-reassign": 2,
        "no-delete-var": 2,
        "no-self-compare": 2,
        "no-eq-null": 2,
        "no-empty-label": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": 2,
        "no-else-return": 2,
        "no-wrap-func": 2,
        "curly": 2,
        "eqeqeq": 2,
        "dot-notation": 2,
        "wrap-iife": 2,
        "strict": 2,
        "camelcase": 2,
        "new-cap": 2,
        "semi": 2,
        "quotes": [2, "single"],

        "no-console": 1,
        "no-alert": 1,
        "no-control-regex": 1,
        "no-caller": 1,
        "no-floating-decimal": 1,
        "no-new": 1,
        "no-return-assign": 1,
        "no-label-var": 1,
        "no-loop-func": 1,
        "no-script-url": 1,
        "no-proto": 1,
        "no-iterator": 1,
        "no-shadow": 1,
        "no-use-before-define": 1,
        "no-redeclare": 1,
        "no-div-regex": 1,
        "no-mixed-requires": 1,
        "no-spaced-func": 1,
        "no-bitwise": 1,
        "consistent-this": [1, "that", "self"],
        "one-var": 1,
        "new-parens": 1,
        "guard-for-in": 1,

        "no-multi-str": 0,
        "no-global-strict": 0,
        "no-ternary": 0,
        "no-nested-ternary": 0,
        "no-underscore-dangle": 0,
        "quote-props": 0,
        "wrap-regex": 0,
        "complexity": 0
    }
}
